In [14]:
import pandas as pd
import numpy as np

from imblearn.pipeline import Pipeline as ImbPipeline
from imblearn.over_sampling import RandomOverSampler

from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from category_encoders import BinaryEncoder, OrdinalEncoder

from lightgbm import LGBMClassifier

import pickle

In [15]:
#%pip install streamlit

In [16]:
df = pd.read_csv("aug_train.csv")

In [17]:
with open("lgbm_model.pkl", "rb") as file:
    loaded_model = pickle.load(file)

In [18]:
df_5 = df.head(5)
df_5

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [19]:
loaded_model.predict(df_5)

[LightGBM] [Warning] Unknown parameter: num_iterarations
[LightGBM] [Warning] min_data_in_leaf is set=30, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=30

c:\Users\ASUS\anaconda3\envs\jcdsbsdam29\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LGBMClassifier was fitted with feature names
  warnings.warn(

array([1., 0., 1., 1., 0.])

In [25]:
import pandas as pd
import sklearn as sk
import category_encoders as ce
import imblearn
import lightgbm
import streamlit


# Perbaikan: Gunakan __version__ (dua underscore)
print("Pandas version:", pd.__version__)
print("Scikit-learn version:", sk.__version__) 
print("Category Encoders version:", ce.__version__)
print("Imblearn version:", imblearn.__version__)
print("LightGBM version:", lightgbm.__version__)
print("Streamlit version:", streamlit.__version__)

Pandas version: 2.3.2
Scikit-learn version: 1.7.2
Category Encoders version: 2.8.1
Imblearn version: 0.14.0
LightGBM version: 4.6.0
Streamlit version: 1.51.0